TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
# Generer avec : node ace generate:key
APP_KEY=
NODE_ENV=development
# DB_HOST=postgres correspond au nom du service dans docker-compose.yml
DB_HOST=postgres
DB_PORT=5432
DB_USER=lfdc
DB_PASSWORD=changeme
DB_DATABASE=le_fil_des_chapitres